/* Estilos Globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

/* Header */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-button {
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 75, 43, 0.7);
}

/* Secciones */
.secciones-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.seccion {
    width: 280px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.seccion img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.seccion h2 {
    font-size: 18px;
    padding: 15px;
    margin: 0;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
}

.seccion:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 75, 43, 0.4);
}
